<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link href="{{ asset('bundles/concursomenus4all/vendors/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" media="screen"/>
        <link href="{{ asset('bundles/concursomenus4all/vendors/css/bootstrap-responsive.min.css') }}" type="text/css" rel="stylesheet" media="screen"/>
        {% endblock %}
        
        {% block javascripts %}
        <script src="{{ asset('bundles/concursomenus4all/vendors/js/jquery-1.8.2.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/concursomenus4all/vendors/js/jquery.json-2.3.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/concursomenus4all/vendors/js/bootstrap.min.js') }}" type="text/javascript"></script>
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      {% include 'ConcursoMenus4AllBundle::cabecera.html.twig' %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    {% block barraIzquierda %}
                        {% include 'ConcursoMenus4AllBundle::barraIzquierda.html.twig' %}
                    {% endblock %}
                </div>
                <div class="span8">
                    {% block central %}
                    {% endblock %}
                </div>
                <div class="span2">
                    {% block barraDerecha %}                    
                       {% include 'ConcursoMenus4AllBundle::barraDerecha.html.twig' %}        
                    {% endblock %}
                </div>
            </div>
        </div>
        


    </body>
</html>
